.no-entries {
  color: grey;
  border: 1px dashed grey;
  padding: 20px;
  width: fit-content;
  margin: 20px auto;
}
.FoodEntries table {
  margin: 20px auto;
  width: 80%;
}
.FoodEntries tbody td {
  padding: 10px 2px;
  max-width: 100px;
}
.user-row {
  font-weight: 600;
}
