.no-entries {
  color: grey;
  border: 1px dashed grey;
  padding: 20px;
  width: fit-content;
  margin: 20px auto;
}
.FoodEntries table {
  margin: 20px auto;
  width: 80%;
}
.FoodEntries tbody td {
  padding: 10px 2px;
  max-width: 100px;
}
.user-row {
  font-weight: 600;
}
.FoodEntries tbody .food-row {
  max-width: 130px;
}
.user-row span,
.actions-row span {
  font-size: 0.75em;
  border: 1px dashed gray;
  color: #5e80e6;
  padding: 4px;
  margin: 0 3px;
  cursor: pointer;
}
.actions-row .actions-delete {
  color: rgb(240, 64, 146);
}
.actions-row .actions-edit {
  color: rgb(240, 131, 64);
}
.th-calorie-limit {
  width: 120px;
}
