.no-entries {
  color: grey;
  border: 1px dashed grey;
  padding: 20px;
  width: fit-content;
  margin: 20px auto;
}
.FoodEntries table {
  /* border: 1px solid grey; */
  margin: 20px auto;
  width: 80%;
}
