.Button {
  background-color: #1155cb;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.Button:hover {
  background-color: #2768d9;
}
.secondary {
  background-color: #fff;
  color: #696f8c;
  border: 1px solid #797d91;
}
.secondary:hover {
  background-color: #f7f7f7;
}
.Button:disabled {
  background-color: #173878;
  color: #929eb5;
  cursor: not-allowed;
}
.btn-small {
  padding: 4px 8px;
}
